<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Twitter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Twitter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
@*                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                    </ul>
                </div>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            <div class="row">
                <div class="col-3">
                    <div class="card border-0 box-shadow ">
                        <div class="card-body">
                            <ul class="nav nav-pills flex-column" id="nav-set">
                                <li class="nav-item"><a class="nav-link d-flex align-items-center" id="home" asp-area="" asp-controller="Home" asp-action="Index"> <i class="material-icons mr-2">home</i>Home</a></li>
                                <li class="nav-item"><a class="nav-link d-flex align-items-center" id="profile" asp-controller="Home" asp-action="Profile"> <i class="material-icons mr-2">perm_identity</i>Profile</a></li>
                                <li class="nav-item"><a class="nav-link d-flex align-items-center" id="notification" href="#"> <i class="material-icons mr-2">notifications_none</i>Notifications</a></li>
                                <li class="nav-item"><a class="nav-link d-flex align-items-center" id="bookmark" href="#"> <i class="material-icons mr-2">bookmark_border</i>Bookmark</a></li>
                                <li class="nav-item"><a class="nav-link d-flex align-items-center" id="more" asp-controller="User" asp-action="Logout"> <i class="material-icons mr-2">exit_to_app</i>Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6">

                    @RenderBody()
                </div>
                <div class="col-3">
                    <div class="card border-0 box-shadow mt-3 ">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <input type="text" placeholder="Search" class="comment-input w-100" />
                            <a class="send-comment" href="#"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                </div>

        </main>
    </div>

    <footer class=" footer text-muted">
        <div class="container">
            &copy; 2021 - Twitter 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        var head = document.getElementById("nav-set");
        var body = document.getElementsByClassName("nav-link");
        if ("@ViewData["Title"]" == "Profile") {
            var profile = document.getElementById("profile");
            profile.className += " active";
        } else {
            var home = document.getElementById("home");
            home.className += " active";
            console.log(home.className);
        }
        @*for (var i = 0; i < body.length; i++) {
            body[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace("active", "");
                this.className += "active";
            });*@
        
    </script>
</body>
</html>
