@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/Style.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="col-6 m-auto">

    <div class="card border-0 box-shadow  p-4">
        <div class="card-body">
            <h3>Login</h3>
            <form class="mt-5">
                <div class="mb-3">
                    <div class="input-container">
                        <input type="text" required="" />
                        <label>UserName or Email</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-container">
                        <input type="password" required="" />
                        <label>Password</label>
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>
