@model ProfileModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/Style.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="d-flex justify-content-center mt-5">

    <div class="card border-0 box-shadow  p-4 text-center">
        <div class="card-body">
            <h3>Login</h3>
            <form class="mt-5" asp-action="Edit">
                <div class="mb-3">
                    <div class="input-container">
                        <input type="text" required="" asp-for="ProfileName"/>
                        <label>Name</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-container">
                        <input type="text" required="" asp-for="Bio" />
                        <label>Bio</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>
